@{
    ViewData["Title"] = "Eventos";
}

<div class="center-item welcome">
    <div class="item">
        <h1 class="h1">Bienvenido a tu gestionador de <mark>eventos</mark></h1>

        <div class="container px-5 text-center">
          <div class="row gx-5">
            <div class="col">
                <a class="m-3 btn btn-primary btn-lg" asp-controller="Usuarios">Usuarios</a>
            </div>
            <div class="col">
                <a class="m-3 btn btn-primary btn-lg" asp-controller="Eventos">Eventos</a>
            </div>
            <div class="col">
                <a class="m-3 btn btn-primary btn-lg" asp-controller="Categorias">Categorias</a>
            </div>
            <div class="col">
                <a class="m-3 btn btn-primary btn-lg" asp-controller="Buscar">Buscar</a>
            </div>
          </div>
        </div>
    </div>
</div>
